{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" / defer>
    <link rel="stylesheet" href="{% static '/css/notesPage.css' %}" defer>
    <title>Crear Nota</title>
</head>
<body>
 
<h1 class="display-3" id="title">Nueva Nota</h1>
<p>Ingrese los datos del la nueva nota</p>
<div class="container formulario">
    <form method="POST" enctype="multipart/form-data">
 
        <!-- Security token -->
        {% csrf_token %}
     
        <!-- Using the formset -->
        <table class="table">
            {{ form.as_table }}
        </table>
         
        <input type="submit" value="Guardar" class="btn btn-success">
        <a type="button" class="btn btn-danger" href="{% url 'notesPage' %}">Cancelar</a>
    </form>   
</div>


</body>
</html>