{% extends 'base.html' %}
{% load static %}

{% block extraHead %}
<link rel="stylesheet" href="../../static/css/createNote.css" defer>
<title>EditarNota</title>
{% endblock extraHead %}

{% block body %}
<body>
<h1 class="display-3" id="title">Editar Nota</h1>
<div class="container formulario">
    <form method="POST" enctype="multipart/form-data">
 
        <!-- Security token -->
        {% csrf_token %}
     
        <!-- Using the formset -->
        <table class="table">
            {{ form.as_table }}
        </table>
         
        <input type="submit" value="Guardar" class="btn btn-success">
        <a type="button" class="btn btn-danger" href="{% url 'notesPage' %}">Cancelar</a>
    </form>   
</div>
</body>
{% endblock body %}