{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" / defer>
        <link rel="stylesheet" href="{% static '/css/notesPage.css' %}" defer>
        <!-- <link rel="stylesheet" href="{% static '/css/base.css' %}" > -->
    </head>
    <body>
        <div class="main-container">
            <div id="title-container">
                <h1 id='title'>APP DE NOTAS</h1>
            </div>

            <div id="in-out-container">
                <!-- <button id="in-out-btn" onclick=""></button> -->
                <a href="#"  id="in-out-btn" class="btn btn-primary">Ingresar/Salir</a>
            </div>

            <div id="new-note-container">
                <a href="{% url 'createNotePage' %}"  id="new-note-btn" class="btn btn-primary">Nueva Nota</a>
            </div>

            <div id="notes-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">TÍTULO</th>
                            <th scope="col">FECHA</th>
                            <th scope="col">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for note in page_obj %}
                        <tr>
                            <td>{{ note.title }}</td>
                            <td>{{note.creation_date|date:"d-m-Y"}} </td> <!-- |date: "d-m-y" formatea la fecha-->
                            <td> 
                                <div class="actions-container">
                                <a href="#" class="btn btn-primary">Detalles</a> <a href="#" class="btn btn-warning">Editar</a> <a href="#" class="btn btn-danger">Borrar</a></td>
                                </div>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
